#root {
 display: flex;
 flex-direction: column;
 min-height: 100vh;
 align-items: center;
  padding: 2.5em 1em;
  /* Padding is added here so the title is being pushed down more and the bottom card is not sticking to the bottom */
}

.header {
  margin-bottom: 2.5em;
  text-align: center;
}

.logo{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5em;
  margin-bottom: .75em;
}

.big-icon-style {
  color: var(--primary-color);
  width: 32px;
  height: 32px;
}

.logo-name {
  font-size: 1.875rem;
  line-height: 2.25rem;
  color: var(--heading-color);
  font-weight: 700;
}

.border {
  border: 1px solid #e5e7eb;
}

.title-subheading {
  color: var(--secondary-color);
}

.cards-container {
  max-width: 576px;
  width: 100%;
}

.card-one {
  background-color: #FFFFFF;
  margin-bottom: 1.5em;
  border-radius: 12px;
  border: 1px solid #e5e7eb;
}

.card-two {
  background-color: #FFFFFF;
  border-radius: 12px;
  border: 1px solid #e5e7eb;
}

.calorie-display {
  display: grid;
  grid-template-columns: repeat(3, minmax(0,1fr));
   /* Decided to go with grid here instead like design. The spacing around the elements and the gap between the elements looks better this way */
  /* Here is the flexbox code I had before grid. Could still use it if I have any issues with the grid layout
    display: flex;
    justify-content: space-around; 
  */
}

.goal-calories, .consumed-calories,.remaining {
  text-align: center;
  padding: 1.25em 1em;
}

.divide-border {
  border-left: 1px solid #e5e7eb;
  border-right: 1px solid #e5e7eb;
  /* Came up with a quick solution to apply divide border for now. Just applied border to the left and right of consumed calories div in jsx */
}

.display-style {
  text-transform: uppercase;
  letter-spacing: .05rem;
  font-weight: 500;
  font-size: .75rem;
  line-height: 1rem;
  color: var(--secondary-color);
}

.cal-number-style {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: var(--primary-font);
}

.display-style, .cal-number-style {
  margin-bottom: .14em;
}

.cal-style{
  font-size: .75rem;
  line-height: 1rem;
  color: var(--secondary-color);
}

.daily-calorie-goal {
  padding: 1em 1.5em;
}

.icon-flex {
  display: flex;
  align-items: center;
  gap: .5em;
  margin-bottom: .75em;
}

.small-icon-style {
  width: 16px;
  height: 16px;
  color: var(--primary-color);
}

.subheading{
  font-weight: 600;
  font-size: .875rem;
  line-height: 1.25rem;
}

.goal-form {
  display: flex;
  gap: .75em;
}

.goal-input-style {
  font-size: .875rem;
  line-height: 1.25rem;
  background-color: #F6F9F7;
  padding: .5em .75em;
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  width: 100%;
  height: 40px;
  flex: 1;
}

.goal-input-style:focus-visible {
  outline: 2px solid #2bab6f; /* A solid green ring */
  outline-offset: 2px; /* A small gap between the input and the ring */
}

.update-goal {
  font-size: .875rem;
  line-height: 1.25rem;
  color: #FFFFFF;
  padding: .5em 1em;
  background-color: var(--primary-color);
  border-radius: 10px;
  height: 40px;
  border: none;
  font-family: inherit;
}

.update-goal:hover {
  cursor: pointer;
  background-color: #2BAB6FE6;
}

.todays-log {
  padding: 1.5em;
}

/* In the design across from the today's log their is supposed to be a count that lists how many items their are in the list. 
For example 2 items would be shown across from it. 
Not going to add that for yet. Going to keep it simple for now */

.default-message {
  text-align: center;
  font-size: .875rem;
  line-height: 1.25rem;
  color: var(--secondary-color);
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.list-container {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: .5em;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .75em 1em;
  background-color: #eaf0ed80;
  border: 1px solid #e5e7eb;
  border-radius: 10px;
}

.food-name {
  color: var(--heading-color);
  font-weight: 500;
  font-size: .875rem;
  line-height: 1.25rem;
}

.food-cal {
  color: var(--secondary-color);
  font-family: var(--primary-font);
  font-size: .75rem;
  line-height: 1rem;
}

.delete-btn {
  background: none;
  border: none;
  color: var(--secondary-color);
  cursor: pointer;
}

.trash-icon-size {
  width: 1rem;
  height: 1rem;
}

.log-food {
  padding: 1em 1.5em;
}

.log-food-form {
  display: flex;
  flex-direction: column;
  gap: .75em;
}

.food-name-input {
  padding: .6em .9em;
  background-color: #F6F9F7;
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  flex: 1;
  width: 100%;
  height: 40px;
  font-size: 1rem;
  line-height: 1.5rem;
}

.food-name-input:focus-visible {
  outline: 2px solid #2bab6f; /* A solid green ring */
  outline-offset: 2px; /* A small gap between the input and the ring */
}

.food-cal-input {
  padding: .6em .9em;
  background-color: #F6F9F7;
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  width: 100%;
  height: 40px;
  font-size: 1rem;
  line-height: 1.5rem;
}

.food-cal-input:focus-visible {
  outline: 2px solid #2bab6f; /* A solid green ring */
  outline-offset: 2px; /* A small gap between the input and the ring */
}

.add-food {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: .5em;
  padding: .6em .9em;
  font-size: .875rem;
  line-height: 1.25rem;
  color: #FFFFFF;
  background-color: var(--primary-color);
  border-radius: 10px;
  border: none;
  font-family: inherit;
  height: 40px;
}

.add-food:hover {
  cursor: pointer;
  background-color: #2BAB6FE6;
}

.plus-icon {
  width: 16px;
  height: 16px;
}

@media(min-width: 600px) {

  .logo-name {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .cal-number-style {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  .log-food-form {
    flex-direction: row;
  }

  .food-name-input {
    font-size: .875rem;
    line-height: 1.25rem;
  }
  .food-cal-input {
    font-size: .875rem;
    line-height: 1.25rem;
    width: 7em;
  }
  
}
