#root {
 display: flex;
 flex-direction: column;
 min-height: 100vh;
 align-items: center;
  padding: 2.5em 1em;
  /* Padding is added here so the title is being pushed down more and the bottom card is not sticking to the bottom */
}

.header {
  margin-bottom: 2.5em;
  text-align: center;
}

.logo{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5em;
  margin-bottom: .75em;
}


.big-icon-style {
  color: var(--primary-color);
  width: 32px;
  height: 32px;
}

.logo-name {
  font-size: 1.875rem;
  line-height: 2.25rem;
  /* These styles are for mobile. Later when adding media query for desktop the code will be this
    font-size: 2.25rem;
    line-height: 2.5rem;
  */
  color: var(--heading-color);
  font-weight: 700;
  
}


.border {
  margin-top: 1em;
  border: 1px solid #e5e7eb;
}

.title-subheading {
  color: var(--secondary-color);
}

.cards-container {
  max-width: 576px;
  width: 100%;
}

.card-one {
  background-color: #FFFFFF;
  /* padding: 1em 1.5em; */
  /* Design had the bottom padding at 1.25rem and top padding at 1rem. For now going to have 1em for top and bottom and going to adjust as needed */
  margin-bottom: 1.5em;
  border-radius: 12px;
  border: 1px solid #e5e7eb;

  /* border-width: 1px;
  border-color: #e5e7eb;
  border-style: solid; */
}

.card-two {
  background-color: #FFFFFF;
  /* padding: 1.5em; */
  /* I had the padding here for card two at first but removed it because it was messing with the width of the border. The border wouldn't go across so I applied padding to the two containers of today's log and log food */
  border-radius: 12px;
  border: 1px solid #e5e7eb;

}

.calorie-display {
  display: flex;
  justify-content: space-around;
  
  /* Going to use flexbox here for now but could also use grid here too, to get the calorie display side by side like the design */
  /* display: grid;
  grid-template-columns: repeat(3, minmax(0,1fr)); */
  
}

.goal-calories, .consumed-calories,.remaining {
  text-align: center;
  /* padding: 2em; */
  padding: 1.25em 1em;
  /* Could apply this to the other calorie displays so the text is centered. 
  Could also make this a utility class and apply the utitlity class to the jsx   */
}

.divide-border {
  
  border-left: 1px solid #e5e7eb;
  border-right: 1px solid #e5e7eb;

  /* Not sure how to create the border like in the design. Also my calorie display div keeps getting pushed down while in the design, the
  display div is at the top */
  /* I think I figured out how get it to stick to top. I have to put padding on the individual divs of the calorie display and not put padding on the
  card itself. When I put padding on the card itself, it's causing the calorie display div to push down. For now going to do this but see if I can find a better solution */
  
  /* Came up with a quick solution to apply divide border for now. Just applied border to the left and right of consumed calories div in jsx */
}

.display-style {
  text-transform: uppercase;
  letter-spacing: .05rem;
  font-weight: 500;
  font-size: .75rem;
  line-height: 1rem;
  color: var(--secondary-color);
  margin-bottom: .25em;
}

.cal-number-style {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-family: var(--primary-font);
}

.cal-style{
  font-size: .75rem;
  line-height: 1rem;
  color: var(--secondary-color);
}

.daily-calorie-goal {
  padding: 1em 1.5em;
}

.icon-flex {
  display: flex;
  align-items: center;
  gap: .5em;
  margin-bottom: .75em;
}

.small-icon-style {
  width: 16px;
  height: 16px;
  color: var(--primary-color);
}

.icon-flex h3 {
  font-weight: 600;
  font-size: .875rem;
  line-height: 1.25rem;
}
.goal-form {
  display: flex;
  gap: .75em;
}
.goal-input-style {
  font-size: .875rem;
  line-height: 1.25rem;
  background-color: #F6F9F7;
  padding: .5em .75em;
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  width: 100%;
  height: 40px;
  flex: 1;
}

.update-goal {
  font-size: .875rem;
  line-height: 1.25rem;
  color: #FFFFFF;
  padding: .5em 1em;
  background-color: var(--primary-color);
  border-radius: 10px;
  height: 40px;
  border: none;
  font-family: inherit;
}

.update-goal:hover {
  cursor: pointer;
}

.default-message {
  text-align: center;
  font-size: .875rem;
  line-height: 1.25rem;
  color: var(--secondary-color);
}

/* Next I need to fix the plus icon inside add food button so it's more aligned with add food text and after that style the list items that get added when the log food form is filled out */
/* Also I think I need to make .icon-flex h3 a class instead. This might be a pain to debug later when I start making separate components and making the css for the separate components  */
/* I think this piece of code will make it so when clicking inside input, the border will be green
  .goal-input-style:focus-visible {
  border-color: 1px solid var(--primary-color);
} */

.todays-log {
  padding: 1.5em;
}

.log-food {
  padding: 1.5em;
}

.log-food-form {
  display: flex;
  flex-direction: column;
  gap: .75em;
}

.food-name-input {
  padding: .6em .9em;
  background-color: #F6F9F7;
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  flex: 1;
  width: 100%;
  height: 40px;
  font-size: 1rem;
  line-height: 1.5rem;
}

.food-cal-input {
  padding: .6em .9em;
  background-color: #F6F9F7;
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  width: 100%;
  height: 40px;
  font-size: 1rem;
  line-height: 1.5rem;
}

.add-food {
  display: inline-flex;
  justify-content: center;
  align-self: center;
  gap: .5em;
  padding: .6em .9em;
  font-size: .875rem;
  line-height: 1.25rem;
  color: #FFFFFF;
  background-color: var(--primary-color);
  border-radius: 10px;
  border: none;
  font-family: inherit;
  height: 40px;
}

.add-food:hover {
  cursor: pointer;
}

.plus-icon {
  width: 16px;
  height: 16px;
}

@media(min-width: 600px) {
  .log-food-form {
    flex-direction: row;
  }

  .food-name-input {
    font-size: .875rem;
    line-height: 1.25rem;
  }
  .food-cal-input {
    font-size: .875rem;
    line-height: 1.25rem;
    width: 7em;
  }
}
