#root {
 display: flex;
 flex-direction: column;
 min-height: 100vh;
 align-items: center;
 /* Based on the design, I'm supposed to add here
  padding-top: 2.5rem;
  padding-bottom: 2.5rem; 
  and 
    padding-left: 1rem;
    padding-right: 1rem;

  */
  padding: 2.5em 1em;

  /* Not sure why though. Going to use padding shortcut if needed
    Update- I see it now. With the padding added here it's now looking like the design more with the title being pushed down more and the bottom card now not sticking to the bottom */
}

.header {
  margin-bottom: 2.5em;
  text-align: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5em;
  margin-bottom: .75em;
}



.flame-icon-style {
  color: var(--primary-color);
  width: 32px;
  height: 32px;
}

.logo-name {
  font-size: 1.875rem;
  line-height: 2.25rem;
  /* These styles are for mobile. Later when adding media query for desktop the code will be this
    font-size: 2.25rem;
    line-height: 2.5rem;
  */
  color: var(--heading-color);
  font-weight: 700;
  
}

.title-subheading {
  color: var(--secondary-color);
}

.cards-container {
  max-width: 576px;
}

.card-one {
  background-color: #FFFFFF;
  padding: 1em 1.5em;
  /* Design had the bottom padding at 1.25rem and top padding at 1rem. For now going to have 1em for top and bottom and going to adjust as needed */
  margin-bottom: 1.5em;
  border-radius: 12px;
  border: 1px solid #e5e7eb;

  /* border-width: 1px;
  border-color: #e5e7eb;
  border-style: solid; */
}

.card-two {
  background-color: #FFFFFF;
  padding: 1.5em;
  /* In the design, the padding for card two was confusing so going with 1.5em all around for now */
  border-radius: 12px;
  border: 1px solid #e5e7eb;

}

.calorie-display {
  display: flex;
  justify-content: space-between;
  /* Going to use flexbox here for now but could also use grid here too, to get the calorie display side by side like the design */
}

.goal-calories {
  text-align: center;
  /* Could apply this to the other calorie displays so the text is centered. 
  Could also make this a utility class and apply the utitlity class to the jsx   */
}

.border {
  border: 2px solid black;
}




