#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card-one {
  background-color: white;
  padding: 4em;
}

.card-two {
  background-color: rgb(204, 204, 204);
  padding: 4em;
}

.border {
  border: 2px solid black;
}




