/* font-family: "Space Mono", monospace;
font-weight: 700; 

font-family: "Inter", sans-serif;
*/

/* Background Color of App - #F6F9F7 */
/* Icon color - #2BAC70 */
/* Button-color - #48B57F */
/* Card-Color and font color of buttons - #FFFFFF */
/* Subheading below CalTrack,Goal, consumed, remaining , progress, no foods logged yet, kcal, progress and progress percentage colors - #6D7875 */
/* Progress bar color - #EAF0ED */
/* Heading and subheading colors -#171C1A */
/* Input background color - #F6F9F7 */
/* border color around all spots that require border - #e5e7eb */
  /* This is the code I'm going to use for the border - border: 0 solid #e5e7eb; */
/* Input Placeholder text color - #6d7875 */



:root {
  --primary-color: #2BAC70;
  --secondary-color: #6D7875;
  --heading-color: #171C1A;
  --primary-font : "Space Mono", monospace;
  --secondary-font: "Inter", sans-serif;
  
 
}

*, :before, :after  {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  background-color: #F6F9F7;
}


